.wrapper {
    // padding: 30px;
    width: 100%;
    padding: 5% 250px 5% 300px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    // background-color: red;
}

.wrapper>div {
    margin-right: 50px;
}