.wrapper {
    width: 100%;
    padding: 5% 250px 5% 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.cell {
    width: 100%;
    min-width: 450px;
}

.newSummary {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    right: 60px;
    border-radius: 10px;
    width: 75px;
    height: 65px;
    // border: 4px solid rgb(74, 38, 115);
    box-shadow: 2px 2px 4px 3px rgba(34, 60, 80, 0.15);

    .newSumIcon {
        font-size: 50px;
        color: rgb(74, 38, 115);
        transition: all .2s ease-in-out;

        &:hover {
            color: rgb(177, 159, 205);
            font-size: 55px;
            transition: all .2s ease-in-out;
        }
    }
}